<form [formGroup]="add_prod_type_form">
  <div class="container" fxLayout="column">
    <mat-form-field appearance="outline" >
            <span matPrefix>
              <mat-icon>mode_edit</mat-icon>
            </span>
      <mat-label>ชื่อประเภทสินค้า</mat-label>
      <input matInput type="text" formControlName="type_name" placeholder="type_name" (keyup)="doCheckDuplicateTypeName($event)">
      <mat-error *ngIf="add_prod_type_form.get('type_name').invalid && add_prod_type_form.get('type_name').touched">invalid value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" >
            <span matPrefix>
              <mat-icon>mode_edit</mat-icon>
            </span>
      <mat-label>วันที่อัพเดท</mat-label>
      <input matInput type="date" formControlName="upd_date" placeholder="upd_date">
      <mat-error *ngIf="add_prod_type_form.get('upd_date').invalid && add_prod_type_form.get('upd_date').touched">invalid value</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="end center">
      <mat-spinner [diameter]="50" *ngIf="isSubmitting"></mat-spinner>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="add_prod_type_form.invalid || isSubmitting">Upload data</button>
    </div>
    <p>รายชื่อประเภทสินค้าที่มีในระบบ</p>
    <mat-selection-list>
      <mat-list-option *ngFor="let prod of prod_type_list" (click)="editProd(prod)">
        <div>
          <span>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </span>
          {{prod.prod_type_id}}: {{prod.type_name}}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</form>
