<div class="container">
  <div class="container" fxLayout="column" fxFlex="50" fxLayoutAlign="start stretch">
    <mat-card>
      <mat-card-title>add product</mat-card-title>
      <mat-card-content>
        <app-add-prod></app-add-prod>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="container" fxLayout="column" fxFlex="50" fxLayoutAlign="start stretch">
    <mat-card>
      <mat-card-title>add product type</mat-card-title>
      <mat-card-content>
        <app-add-prod-type></app-add-prod-type>
      </mat-card-content>
    </mat-card>
  </div>
</div>
